:root {
    --primary-color: #18cfab;
    --btn-hover-color: #00cbf6;
    --option-color: #1c2a33;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}

.header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/sections background/section1-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
}

.navigation-bar {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(94, 93, 88, 0.6);
}

.top-menu {
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 6px;
    align-items: center;
	cursor: pointer;
}

.logo p {
	color: #ffffff;
}

#hexagon {
    width: 58px;
    height: 35px;
    background: var(--primary-color);
    position: relative;
    text-align: center;
}

#hexagon:before {
    content: '';
    position: absolute;
    top: -17px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 17px solid var(--primary-color);
}

#hexagon:after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 17px solid var(--primary-color);
}

.letter {
    font-weight: 700;
    font-size: 40px;
    line-height: 35px;
    text-transform: uppercase;
}

.logo-text {
    font-size: 32px;
    line-height: 48px;
}

.text-color {
    font-weight: 700;
    color: var(--primary-color);
}

.menu-wrapper {
    display: flex;
    margin-left: auto;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu-item a {
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: color 250ms ease;
}

.menu-item a:hover {
    color: var(--primary-color);
    text-decoration: underline 2px;
    text-underline-offset: 51px;
}

.search-box {
    position: relative;
    margin-left: 20px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    transition: all 250ms ease;
}

.search-box::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 110%;
    top: 70px;
    left: -2px;
    transform: scaleX(0);
    background: var(--primary-color);
}

.search-box:hover::before {
    transform: scaleX(1);
}

.search-icon:hover path {
    fill: var(--primary-color);
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 384px;
    margin-bottom: 244px;
}

.page-subtitle {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
}

.page-title {
    font-weight: 700;
    font-size: 78px;
    line-height: 80px;
    text-transform: uppercase;
}

.page-description {
    font-size: 34px;
    line-height: 34px;
    color: rgba(212, 212, 212, 1);
}

.buttons-wrapper {
    display: flex;
    gap: 26px;
    margin-top: 127px;
}

.btn {
    display: inline-block;
    height: 61px;
    width: 166px;
    padding: 0 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 250ms ease;
}

.btn-header {
    box-shadow: 0px -5px 0px 0px #ffffff;
    transition: background-color 250ms ease;
}

.btn-header:hover {
    background-color: var(--btn-hover-color);
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.four-options {
    height: 370px;
    width: 100vw;
    display: flex;
}

.option {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 95px;
    padding-bottom: 103px;
}

.option:first-child,
.option:nth-child(3) {
    background-color: var(--option-color);
    color: var(--primary-color);
    padding-top: 88px;
}

.option:first-child path,
.option:nth-child(3) path {
    fill: var(--primary-color);
}

/*! Section */
/** Our Services */

.services-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #777777;
    margin-top: 92px;
    margin-bottom: 91px;
}

.subtitle {
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
}

.lines {
    position: relative;
    left: -7px;
    width: 76px;
    height: 1px;
    background-color: var(--primary-color);
    margin-top: 24px;
}

.lines::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 15px;
    width: 76px;
    height: 1px;
    background-color: var(--primary-color);
}

.services-content {
    width: 100%;
    margin-top: 71px;
}

.tabs {
    height: 72px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tabs-title {
    height: 100%;
    padding-top: 16px;
    line-height: 40px;
    flex: 1;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #edefef;
    cursor: pointer;
    transition: border 250ms ease;
}

.tabs-title:hover {
    border: 1px solid var(--primary-color);
}

.tabs-title.active {
    position: relative;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    color: #ffffff;
}

.tabs-title.active::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 86px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--primary-color);
}

.tabs-content-title {
    display: flex;
    gap: 13px;
    display: none;
    margin-top: 26px;
}

.tabs-content-title.active {
    display: flex;
}

.content-image {
    width: 191px;
    height: 143px;
}

.content-info {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.purchase {
    width: 100%;
    height: 477px;
    background-image: url('../images/sections background/section-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.purchase::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), rgba(28, 42, 51, 0.1);
}

.purchase p.letter {
    color: var(--primary-color);
    margin-top: 124px;
    position: relative;
    z-index: 1;
}

.purchase-description {
    text-align: center;
    line-height: 40px;
    color: #d8d8d8;
    margin-top: 12px;
    position: relative;
    z-index: 1;
}

.purchase-button {
    text-align: center;
    margin-top: 67px;
    position: relative;
    z-index: 1;
}

.btn-purchase {
    box-shadow: 0px -5px 0px 0px #ffffff;
    position: relative;
    z-index: 1;
    transition: background-color 250ms ease;
}

.btn-purchase:hover {
    background-color: var(--btn-hover-color);
    position: relative;
    z-index: 1;
}

/*! Section */
/** Our Amazing Work */

.amazing-work-wrapper {
    background-color: #e9edef;
}

.amazing-work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #777777;
    background-color: #e9edef;
    margin-top: 95px;
    margin-bottom: 99px;
}

.amazing-work-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 70px 0;
}

.amazing-tabs-list {
    width: 582px;
    height: 58px;

    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 69px;
}

.amazing-tabs-title {
    font-size: 14px;
    line-height: 28px;
    color: #717171;
    border: 1px solid #dadada;
    padding: 14px 15px;
    cursor: pointer;
}

.amazing-tabs-title:first-child {
    padding: 14px 28px;
}

.amazing-tabs-title:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.amazing-content {
    display: grid;
    width: 100%;
    grid-auto-rows: 211px;
    grid-template-columns: repeat(4, 1fr);
}

.amazing-content-item {
    display: none;
}

.amazing-content-item-active {
    display: flex;
    position: relative;
    overflow: hidden;
}

.amazing-content-revers {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    right: -100%;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px var(--primary-color);
    background-color: #e9edef;
    opacity: 0;
    transition: 0.25s;
}

.amazing-content-item-active:hover .amazing-content-revers {
    left: 0;
    opacity: 1;
}

.amazing-content-icons {
    display: flex;
    gap: 3px;
    width: 88px;
    height: 43px;
    margin-top: 46px;
    margin-bottom: 35px;
}

.chain-icon,
.stop-icon {
    cursor: pointer;
}

.chain-icon:hover path {
    fill: #ffffff;
}

.chain-icon:hover {
    fill: var(--primary-color);
}

.stop-icon:hover rect {
    fill: #ffffff;
}

.stop-icon:hover path {
    fill: var(--primary-color);
}

.amazing-content-revers-title {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    font-style: normal;
}

.amazing-content-revers-description {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
    font-style: normal;
}

.btn-load {
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    vertical-align: baseline;
    text-align: center;
    padding-left: 46px;
    position: relative;
}

.btn-load::before {
    content: '+';
    left: 20px;
    bottom: 10px;
    font-size: 32px;
    margin-right: 16px;
    position: absolute;
}

.amazing-button-deactive {
    display: none;
}

/*! Section  */
/** Breaking News */

.breaking-news {
    margin: 85px 0 130px;
}

.breaking-news-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breaking-news-grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 281px);
    grid-template-columns: repeat(4, 1fr);
    margin-top: 68px;
    grid-gap: 44px 33px;
}

.breaking-news-item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.breaking-news-img {
    width: 100%;
    height: 208px;
}

.date-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    color: #ffffff;
    background-color: #203e38;
    transition: background-color 250ms ease;
}

.breaking-news-item:hover .date-block {
    background-color: var(--primary-color);
}

.caption-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 12px 55px 12px 15px;
}

.caption-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #717171;
    transition: color 250ms ease;
}

.breaking-news-item:hover .caption-title {
    color: var(--primary-color);
}

.caption-line {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.caption-separator:last-child::before {
    margin-left: 12px;
    margin-right: 14px;
    content: '|';
}

/*! Section */
/** What People Say About theHam */

.testimonial {
    display: flex;
    justify-content: center;
    background-image: url('../images/sections background/section-3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1160px;
    margin: 100px 0;
}

.testimonial-content .subtitle {
    color: #ffffff;
}

.combined-shape {
    width: 47px;
    height: 33px;
    margin-top: 71px;
    margin-bottom: 37px;
}
.combined-shape path {
    fill: var(--primary-color);
}

.testimonial-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-description-text {
    color: #bbbbbb;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 37px;
    text-align: center;
}

.testimonial-description-name {
    color: var(--primary-color);
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.testimonial-description-position {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 38px;
}

.testimonial-avatar-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-avatar-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 166px;
    background: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    margin-bottom: 51px;
    user-select: none;
}

.avatar-choice-img {
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.testimonial-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-arrow {
    position: relative;
    width: 31px;
    height: 31px;
    border: solid 1px #bbbbbb;
    cursor: pointer;
}

.arrow-left::after,
.arrow-right::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #bbbbbb;
    border-left: 2px solid #bbbbbb;
}

.arrow-left::after {
    transform: rotate(45deg);
    left: 12px;
    top: 50%;
    margin-top: -5px;
}

.arrow-right::after {
    transform: rotate(-135deg);
    right: 12px;
    top: 50%;
    margin-top: -5px;
}

.arrow-left:hover,
.arrow-right:hover {
    background: var(--primary-color);
    border: solid 1px var(--primary-color);
}

.testimonial-avatar-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 30px;
}

.testimonial-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    margin-right: 38px;
    user-select: none;
    cursor: pointer;
}

.testimonial-avatar:last-child {
    margin-right: 0;
}

.testimonial-avatar-active {
    margin-top: -12px;
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@keyframes myAnimation {
    0% {
        opacity: 0.6;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0.6;
        transform: scale(0.8);
    }
}

.testimonial-avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.footer {
    height: 121px;
    width: 100%;
    background-color: #22353f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-list-item a {
    color: var(--primary-color);
    cursor: pointer;
}

.footer-list-item:last-child::before {
    margin-left: 5px;
    margin-right: 5px;
    content: '|';
}
